header{
	background:  #ef3434;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin:  0 auto;
}

#logprodutos{
    width: 30%;
}

nav {
	position: absolute;
	top: 40px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}